@model int

@{
    ViewData["Title"] = $"First {Model} numbers";
}


<h2>@ViewData["Title"]</h2>

<ul>

    @for (int i = 1; i <= Model; i++)
    {
        <li>@i</li>
    }

</ul>



@section Scripts {
    <script src = "~/js/numbers.js"></script>
}


<label for="num">Enter a num</label>
<input id="numberInput" type="number" value="50"/>
<button onclick="getLimitedNumbers()">Get Limit</button>